  <mat-vertical-stepper linear>
    <!-- <mat-step label="Patient's General Information" completed=false>-->
        <mat-step label="Patient's General Information">
        <p class="lead text-muted pb-3">Choose your website name & create repository</p>
        <div class="d-flex flex-row">
        <!-- Input First Name-->
        <!--<input matInput required>-->
           <div class="col-md-2 mb-2">
           <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput />
          </mat-form-field></div>
            <!-- Input Middle Name-->
            <div class="col-md-2 mb-2">
              <mat-form-field>
             <mat-label>Middle Name</mat-label>
             <input matInput />
              </mat-form-field></div>
          <!-- Input Last Name-->
          <div class="col-md-2 mb-2">
            <mat-form-field>
           <mat-label>Last Name</mat-label>
           <input matInput />
            </mat-form-field></div>

           <!-- Input Second Last Name-->
           <div class="col-md-2 mb-2">
            <mat-form-field>
           <mat-label>Second Last Name</mat-label>
           <input matInput />
            </mat-form-field></div>

          <!--Select Input Gender-->
           <div class="col-md-2 mb-2"><mat-form-field>
            <mat-label>Gender</mat-label>
            <mat-select>              
              <mat-option value="Male">Male</mat-option>
              <mat-option value="Female">Female</mat-option>
              <mat-option value= "Transgender Woman">Transgender Woman</mat-option>
              <mat-option value="Transgender Male">Transgender Male</mat-option>
            </mat-select>
          </mat-form-field></div>
        
        </div>


        <div class="d-flex flex-row">
       <!-- Date Picker Date of Birth-->
       
        <!-- <div class="col-md-3 mb-2">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Date of Birth</mat-label>
          <input matInput [matDatepicker]="agedatepicker" [min]="minDate" 
          [max]="maxDate" (dateChange)="han($event)" 
          [(ngModel)]="dob"
          />
          <mat-datepicker-toggle matSuffix [for]="agedatepicker" > </mat-datepicker-toggle>
          <mat-datepicker #agedatepicker ></mat-datepicker>        
        </mat-form-field> 
      </div> -->

      <mat-form-field appearance="fill">    <mat-label>Date of Birth</mat-label>    
        <input matInput [matDatepicker]="dob" (dateChange)="CalculateAge($event)" >    
        <mat-datepicker-toggle matSuffix [for]="dob">
        </mat-datepicker-toggle>    
        <mat-datepicker #dob></mat-datepicker>  </mat-form-field>

             <!-- Input Age-->
             
            <div class="col-md-auto">
              <mat-form-field> <mat-label> Age </mat-label>
                <!-- <p *ngIf="age">Tu edad es {{ showAge }}</p> -->
              <input matInput [disabled]="true" [(ngModel)]="age"/>
              </mat-form-field></div> 

          <!-- Input Last 4 SSN-->
          <div class="col-md-2 mb-2">
            <mat-form-field>
           <mat-label>Last 4 SSN</mat-label>
           <input matInput />
            </mat-form-field></div>
             <!-- Input Address-->
             <div class="col-md-2 mb-2">
              <mat-form-field>
             <mat-label>Address</mat-label>
             <input matInput />
              </mat-form-field></div>
      </div>
        <div class="d-flex flex-row">
            <!--Select Input City-->
            <div class="col-md-2 mb-2"><mat-form-field>
              <mat-label>City</mat-label>
              <mat-select>              
                <mat-option value="Adjuntas">Adjuntas</mat-option> <mat-option value="Aguada">Aguada</mat-option> <mat-option value="Aguadilla">Aguadilla</mat-option>
                  <mat-option value="Aguas Buenas">Aguas Buenas</mat-option> <mat-option value="5">Aibonito</mat-option> <mat-option value="Arecibo">Arecibo</mat-option> <mat-option value="Arroyo">Arroyo</mat-option>
                  <mat-option value="Añasco">Añasco</mat-option> <mat-option value="Barceloneta">Barceloneta</mat-option> <mat-option value="Barranquitas">Barranquitas</mat-option> <mat-option value="Bayamón">Bayamón</mat-option>
                  <mat-option value="Cabo Rojo">Cabo Rojo</mat-option> <mat-option value="Caguas">Caguas</mat-option> <mat-option value="Camuy">Camuy</mat-option> <mat-option value="Canóvanas">Canóvanas</mat-option>
                  <mat-option value="Carolina">Carolina</mat-option> <mat-option value="Cataño">Cataño</mat-option> <mat-option value="Cayey">Cayey</mat-option><mat-option value="Ceiba">Ceiba</mat-option>
                  <mat-option value="Ciales">Ciales</mat-option> <mat-option value="Cidra">Cidra</mat-option> <mat-option value="Coamo">Coamo</mat-option> <mat-option value="Comerío">Comerío</mat-option>
                  <mat-option value="Corozal">Corozal</mat-option> <mat-option value="Culebra">Culebra</mat-option><mat-option value="Dorado">Dorado</mat-option> <mat-option value="Fajardo">Fajardo</mat-option>
    
                  <mat-option value="Florida">Florida</mat-option> <mat-option value="Guayama">Guayama</mat-option> <mat-option value="Guayanilla">Guayanilla</mat-option> <mat-option value="Guaynabo">Guaynabo</mat-option>
                  <mat-option value="Guarabo">Guarabo</mat-option> <mat-option value="Guánica">Guánica</mat-option> <mat-option value="Hatillo">Hatillo</mat-option> <mat-option value="Hormigueros">Hormigueros</mat-option>
                  <mat-option value="Humacao">Humacao</mat-option> <mat-option value="Isabela">Isabela</mat-option> <mat-option value="Jayuya">Jayuya</mat-option> <mat-option value="Juana Díaz">Juana Díaz</mat-option>
                   <mat-option value="Juncos">Juncos</mat-option> <mat-option value="Lajas">Lajas</mat-option> <mat-option value="Lares">Lares</mat-option> <mat-option value="Las Marías">Las Marías</mat-option>
                   <mat-option value="Las Piedras">Las Piedras</mat-option> <mat-option value="Loiza">Loiza</mat-option> <mat-option value="Luquillo">Luquillo</mat-option> <mat-option value="Manatí">Manatí</mat-option>
                   <mat-option value="Maricao">Maricao</mat-option> <mat-option value="Maunabo">Maunabo</mat-option> <mat-option value="Mayagüez">Mayagüez</mat-option> <mat-option value="Moca">Moca</mat-option>
                   <mat-option value="Morovis">Morovis</mat-option> <mat-option value="Naguabo">Naguabo</mat-option> <mat-option value="Naranjito">Naranjito</mat-option><mat-option value="Orocovi">Orocovi</mat-option>
    
                   <mat-option value="Patillas">Patillas</mat-option> <mat-option value="Peñuelas">Peñuelas</mat-option> <mat-option value="Ponce">Ponce</mat-option> <mat-option value="Quebradillas">Quebradillas</mat-option>
                  <mat-option value="Rincón">Rincón</mat-option> <mat-option value="Río Grande">Río Grande</mat-option> <mat-option value="Sabana Grande">Sabana Grande</mat-option> <mat-option value="Salinas">Salinas</mat-option>
                  <mat-option value="San Germán">San Germán</mat-option> <mat-option value="San Juan">San Juan</mat-option> <mat-option value="San Lorenzo">San Lorenzo</mat-option> <mat-option value="San Sebastián">San Sebastián</mat-option>
                   <mat-option value="Santa Isabel">Santa Isabel</mat-option> <mat-option value="Toa Alta">Toa Alta</mat-option> <mat-option value="Toa Baja">Toa Baja</mat-option> <mat-option value="Trujillo Alto">Trujillo Alto</mat-option>
                   <mat-option value="Utuado">Utuado</mat-option> <mat-option value="Vega Alta">Vega Alta</mat-option> <mat-option value="Vega Baja">Vega Baja</mat-option> <mat-option value="Vieques">Vieques</mat-option>
                   <mat-option value="Villalba">Villalba</mat-option> <mat-option value="Yabucoa">Yabucoa</mat-option> <mat-option value="Yauco">Yauco</mat-option>   
              </mat-select>
            </mat-form-field></div>


              <!--Select Input State-->
              <div class="col-md-2 mb-2"><mat-form-field>
                <mat-label>State</mat-label>
                <mat-select>              
                  <mat-option value="Puerto Rico">Puerto Rico</mat-option>
                </mat-select>
              </mat-form-field></div>

            <!-- Input Zip Code-->
            <div class="col-md-2 mb-2">
              <mat-form-field>
             <mat-label>Zip Code</mat-label>
             <input matInput />
              </mat-form-field></div>

            <!-- Input Phone-->
            <div class="col-md-2 mb-2">
              <mat-form-field>
             <mat-label>Phone</mat-label>
             <input matInput />
              </mat-form-field></div>

            <!--Select Pregnant?-->
            <div class="col-md-2 mb-2"><mat-form-field>
              <mat-label>Pregnant?</mat-label>
              <mat-select>              
                <mat-option value="Yes">Yes</mat-option>
                <mat-option value="Puerto Rico">Puerto Rico</mat-option>
                <mat-option value="No">No</mat-option>
                <mat-option value="Not Sure">Not Sure</mat-option>
              </mat-select>
            </mat-form-field></div>

            </div>

            <!-- Input Gestion Time (Weeks)-->
            <div class="d-flex flex-row">
            <div class="col-md-3 mb-2">
            <div class="input-group mb-3">
               <mat-form-field>
              <input matInput type="number" class="form-control" placeholder="Gestion Time (Weeks)" aria-label="Gestion Time (Weeks)" 
              aria-describedby="basic-addon2" min="0" max="42" /> </mat-form-field>           
              </div>
            </div>
          </div>

          <div class="d-flex flex-row">
            <div class="col-md-2 mb-4">
            <button mat-raised-button matStepperNext>Next</button>
          </div>
        </div>

    </mat-step>

    <!------------------------------------- Laboratory's Results-------------------------------------->
      <mat-step label="Laboratory's Results">
        <p class="lead text-muted pb-3">Go to your dashboard and clone Git respository from the url in the dashboard of your application</p>
        <div class="d-flex flex-row">

           <!-- Date Picker Date Collected-->
        <div class="col-md-3 mb-2">
          <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
          <mat-form-field>
          <input matInput [matDatepicker]="datecollected" placeholder="Date Collected:" aria-label="Date Collected:" 
          aria-describedby="basic-addon2" class="form-control" />
          <mat-datepicker-toggle matSuffix [for]="datecollected"></mat-datepicker-toggle>
          <mat-datepicker #datecollected></mat-datepicker>         
        </mat-form-field>
      </div>
      </div>

        <!-- Time Picker Time Collected-->
         <div class="col-md-3 mb-2">
          <mat-form-field>
          <input matTimepicker #timecollected ="matTimepicker" id="timecollected" mode="12h"
          placeholder="Time Collected:" aria-label="Time Collected:" 
          aria-describedby="basic-addon2" class="form-control"/>
        </mat-form-field>
      </div>

     

    </div>

    <div class="d-flex flex-row">
         <!-- Date Picker Date Received-->
         <div class="col-md-3 mb-2">
          <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
          <mat-form-field>
          <input matInput [matDatepicker]="datereceived" placeholder="Date Received:" aria-label="Date Received:" 
          aria-describedby="basic-addon2" class="form-control" />
          <mat-datepicker-toggle matSuffix [for]="datereceived"></mat-datepicker-toggle>
          <mat-datepicker #datereceived></mat-datepicker>         
        </mat-form-field>
      </div>
      </div>
         <!-- Time Picker Time Received-->
         <div class="col-md-3 mb-2">
          <mat-form-field>
          <input matTimepicker #timereceived ="matTimepicker" id="timereceived" mode="12h"
          placeholder="Time Collected:" aria-label="Time Collected:" 
          aria-describedby="basic-addon2" class="form-control" />
        </mat-form-field>
      </div>

    </div>

    <div class="d-flex flex-row">
        <!--Select Input Specimen Type-->
        <div class="col-md-2 mb-2"><mat-form-field>
          <mat-label>Specimen Type</mat-label>
          <mat-select>              
            <mat-option value="NULL">NULL</mat-option>
          </mat-select>
        </mat-form-field></div>

          <!--Select Input Specimen Source-->
          <div class="col-md-2 mb-2"><mat-form-field>
            <mat-label>Specimen Source</mat-label>
            <mat-select>              
              <mat-option value="NULL">NULL</mat-option>
            </mat-select>
          </mat-form-field></div>
            
          </div>

          <div class="d-flex flex-row">
            <div class="col-md-2 mb-4">
            <button mat-raised-button matStepperPrevious>Back</button>
            </div>
            <div class="col-md-2 mb-4">
            <button mat-raised-button matStepperNext>Next</button>
          </div>
        </div>     
    </mat-step>

   
    <!-------------------------------------- Patient's Clinical Information-------------------------->
    
        <mat-step label="Patient's Clinical Information">         
        <p class="lead text-muted pb-3">Now make changes to your application source code, test it then commit &amp; push</p>
        
        <div class="d-flex flex-row">

         <!--Select Input Patient's Status-->
         <div class="col-md-2 mb-2"><mat-form-field>
          <mat-label>Patient's Status</mat-label>
          <mat-select>              
            <mat-option value="Ambulatory">Ambulatory</mat-option>
            <mat-option value="Hospitalizated">Hospitalizated</mat-option>
          </mat-select>
        </mat-form-field></div>

           <!-- Date Picker First Symptom Date-->
           <div class="col-md-3 mb-2">
            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
            <mat-form-field>
            <input matInput [matDatepicker]="firstsymptomdate" placeholder="First Symptom Date:" aria-label="First Symptom Date:" 
            aria-describedby="basic-addon2" class="form-control" />
            <mat-datepicker-toggle matSuffix [for]="firstsymptomdate"></mat-datepicker-toggle>
            <mat-datepicker #firstsymptomdate></mat-datepicker>         
          </mat-form-field>
        </div>
        </div>
          
           <!--Select Input Symptoms-->
           <div class="col-md-2 mb-2"><mat-form-field>
            <mat-label>Symptoms</mat-label>
            <mat-select>              
              <mat-option value="Fever">Fever</mat-option> <mat-option value="Muscular Pain">Muscular Pain</mat-option>
              <mat-option value="Skin Eruptions">Skin Eruptions</mat-option> <mat-option value="Headache">Headache</mat-option>

              <mat-option value="Throat Ache">Throat Ache</mat-option> <mat-option value="Diarrhea">Diarrhea</mat-option>
              <mat-option value="Dizziness">Dizziness</mat-option> <mat-option value="Fatigue">Fatigue</mat-option>

              <mat-option value="Shiver">Shiver</mat-option> <mat-option value="Dry Cough">Dry Cough</mat-option>
              <mat-option value="Other">Other</mat-option>
            </mat-select>
          </mat-form-field></div>

        </div>

            <div class="d-flex flex-row">
             <!--Select Input Vaccine-->
             <div class="col-md-2 mb-2"><mat-form-field>
              <mat-label>Vaccine</mat-label>
              <mat-select>              
                <mat-option value="Yes">Yes</mat-option>
                <mat-option value="No">No</mat-option>
                <mat-option value="Not Sure">Not Sure</mat-option>
              </mat-select>
            </mat-form-field></div>

             <!-- Date Picker Last Vaccine Date-->
             <div class="col-md-3 mb-2">
              <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
              <mat-form-field>
              <input matInput [matDatepicker]="lastvaccinedate" placeholder="Last Vaccine Date:" aria-label="Last Vaccine Date:" 
              aria-describedby="basic-addon2" class="form-control" />
              <mat-datepicker-toggle matSuffix [for]="lastvaccinedate"></mat-datepicker-toggle>
              <mat-datepicker #lastvaccinedate></mat-datepicker>         
            </mat-form-field>
          </div>
          </div>
            </div>

            <div class="d-flex flex-row">
              <div class="col-md-2 mb-4">
              <button mat-raised-button matStepperPrevious>Back</button>
              </div>
              <div class="col-md-2 mb-4">
              <button mat-raised-button matStepperNext>Next</button>
            </div>
          </div>

  </mat-step>

    <!---------------------------------------- Referring Institution------------------------------------->
    <mat-step label="Referring Institution"> 
          <p class="lead text-muted pb-3">Go to your dashboard and clone Git respository from the url in the dashboard of your application</p>
           
          <div class="d-flex flex-row">
          <!-- Input Institution's Name-->
          <div class="col-md-2 mb-2">
            <mat-form-field>
           <mat-label>Institution's Name</mat-label>
           <input matInput />
            </mat-form-field></div>

          <!--Select Input Institution's Type-->
          <div class="col-md-2 mb-2"><mat-form-field>
            <mat-label>Institution's Type</mat-label>
            <mat-select>              
              <mat-option value="Yes">Hospital</mat-option>
              <mat-option value="No">Laboratory</mat-option>
              <mat-option value="Not Sure">Other</mat-option>
            </mat-select>
          </mat-form-field></div>

            <!-- Input Institution's ID-->
            <div class="col-md-2 mb-2">
              <mat-form-field>
             <mat-label>Institution's ID</mat-label>
             <input matInput />
              </mat-form-field></div>

          </div>

          <div class="d-flex flex-row">
            <!-- Input Institution's Address-->
            <div class="col-md-2 mb-2">
              <mat-form-field>
             <mat-label>Institution's Address</mat-label>
             <input matInput />
              </mat-form-field></div>

               <!--Select Input City-->
            <div class="col-md-2 mb-2"><mat-form-field>
              <mat-label>City</mat-label>
              <mat-select>              
                <mat-option value="Adjuntas">Adjuntas</mat-option> <mat-option value="Aguada">Aguada</mat-option> <mat-option value="Aguadilla">Aguadilla</mat-option>
                  <mat-option value="Aguas Buenas">Aguas Buenas</mat-option> <mat-option value="5">Aibonito</mat-option> <mat-option value="Arecibo">Arecibo</mat-option> <mat-option value="Arroyo">Arroyo</mat-option>
                  <mat-option value="Añasco">Añasco</mat-option> <mat-option value="Barceloneta">Barceloneta</mat-option> <mat-option value="Barranquitas">Barranquitas</mat-option> <mat-option value="Bayamón">Bayamón</mat-option>
                  <mat-option value="Cabo Rojo">Cabo Rojo</mat-option> <mat-option value="Caguas">Caguas</mat-option> <mat-option value="Camuy">Camuy</mat-option> <mat-option value="Canóvanas">Canóvanas</mat-option>
                  <mat-option value="Carolina">Carolina</mat-option> <mat-option value="Cataño">Cataño</mat-option> <mat-option value="Cayey">Cayey</mat-option><mat-option value="Ceiba">Ceiba</mat-option>
                  <mat-option value="Ciales">Ciales</mat-option> <mat-option value="Cidra">Cidra</mat-option> <mat-option value="Coamo">Coamo</mat-option> <mat-option value="Comerío">Comerío</mat-option>
                  <mat-option value="Corozal">Corozal</mat-option> <mat-option value="Culebra">Culebra</mat-option><mat-option value="Dorado">Dorado</mat-option> <mat-option value="Fajardo">Fajardo</mat-option>
    
                  <mat-option value="Florida">Florida</mat-option> <mat-option value="Guayama">Guayama</mat-option> <mat-option value="Guayanilla">Guayanilla</mat-option> <mat-option value="Guaynabo">Guaynabo</mat-option>
                  <mat-option value="Guarabo">Guarabo</mat-option> <mat-option value="Guánica">Guánica</mat-option> <mat-option value="Hatillo">Hatillo</mat-option> <mat-option value="Hormigueros">Hormigueros</mat-option>
                  <mat-option value="Humacao">Humacao</mat-option> <mat-option value="Isabela">Isabela</mat-option> <mat-option value="Jayuya">Jayuya</mat-option> <mat-option value="Juana Díaz">Juana Díaz</mat-option>
                   <mat-option value="Juncos">Juncos</mat-option> <mat-option value="Lajas">Lajas</mat-option> <mat-option value="Lares">Lares</mat-option> <mat-option value="Las Marías">Las Marías</mat-option>
                   <mat-option value="Las Piedras">Las Piedras</mat-option> <mat-option value="Loiza">Loiza</mat-option> <mat-option value="Luquillo">Luquillo</mat-option> <mat-option value="Manatí">Manatí</mat-option>
                   <mat-option value="Maricao">Maricao</mat-option> <mat-option value="Maunabo">Maunabo</mat-option> <mat-option value="Mayagüez">Mayagüez</mat-option> <mat-option value="Moca">Moca</mat-option>
                   <mat-option value="Morovis">Morovis</mat-option> <mat-option value="Naguabo">Naguabo</mat-option> <mat-option value="Naranjito">Naranjito</mat-option><mat-option value="Orocovi">Orocovi</mat-option>
    
                   <mat-option value="Patillas">Patillas</mat-option> <mat-option value="Peñuelas">Peñuelas</mat-option> <mat-option value="Ponce">Ponce</mat-option> <mat-option value="Quebradillas">Quebradillas</mat-option>
                  <mat-option value="Rincón">Rincón</mat-option> <mat-option value="Río Grande">Río Grande</mat-option> <mat-option value="Sabana Grande">Sabana Grande</mat-option> <mat-option value="Salinas">Salinas</mat-option>
                  <mat-option value="San Germán">San Germán</mat-option> <mat-option value="San Juan">San Juan</mat-option> <mat-option value="San Lorenzo">San Lorenzo</mat-option> <mat-option value="San Sebastián">San Sebastián</mat-option>
                   <mat-option value="Santa Isabel">Santa Isabel</mat-option> <mat-option value="Toa Alta">Toa Alta</mat-option> <mat-option value="Toa Baja">Toa Baja</mat-option> <mat-option value="Trujillo Alto">Trujillo Alto</mat-option>
                   <mat-option value="Utuado">Utuado</mat-option> <mat-option value="Vega Alta">Vega Alta</mat-option> <mat-option value="Vega Baja">Vega Baja</mat-option> <mat-option value="Vieques">Vieques</mat-option>
                   <mat-option value="Villalba">Villalba</mat-option> <mat-option value="Yabucoa">Yabucoa</mat-option> <mat-option value="Yauco">Yauco</mat-option>   
              </mat-select>
            </mat-form-field></div>

                 <!--Select Input State-->
              <div class="col-md-2 mb-2"><mat-form-field>
                <mat-label>State</mat-label>
                <mat-select>              
                  <mat-option value="Puerto Rico">Puerto Rico</mat-option>
                </mat-select>
              </mat-form-field></div>

              <!-- Input Zip Code-->

              <div class="col-md-2 mb-2">
                <mat-form-field>
               <mat-label>Zip Code</mat-label>
               <input matInput />
                </mat-form-field></div>

            </div>

              <div class="d-flex flex-row">
              <!-- Input Phone-->
              <div class="col-md-2 mb-2">
                <mat-form-field>
               <mat-label>Phone</mat-label>
               <input matInput />
                </mat-form-field></div>            

               <!-- Input Physician Name-->
               <div class="col-md-2 mb-2">
                <mat-form-field>
               <mat-label>Physician Name</mat-label>
               <input matInput />
                </mat-form-field></div>

                <!-- Input Physician ID-->
                <div class="col-md-2 mb-2">
                  <mat-form-field>
                 <mat-label>Physician ID</mat-label>
                 <input matInput />
                  </mat-form-field></div>

                </div>
             

                <div class="d-flex flex-row">
                  <div class="col-md-2 mb-4">
                  <button mat-raised-button matStepperPrevious>Back</button>
                  </div>
                  <div class="col-md-2 mb-4">
                  <button mat-raised-button matStepperNext>Finish</button>
                </div>
              </div>

    </mat-step>
    </mat-vertical-stepper>
